@{
    ViewData["Title"] = "Read All Estimates Page";
}

@model IEnumerable<Estimate>

<h2 style="margin-bottom: 15px;">Список смет дорожных работ</h2>

<table border="1">
    <tr>
        <th>Идентификационный номер дороги</th>
        <th>Название сметы</th>
        <th>Уровень работ</th>
        <th>Стоимость сметы</th>
        <th>Ссылка на смету</th>
        <th>Операции</th>
    </tr>
    @foreach (var estimate in Model)
    {
        <tr>
            <td>@estimate.Road.Number</td>
            <td>@estimate.Name</td>
            <td>@estimate.LevelOfWorks</td>
            <td>@estimate.Cost</td>
            <td>@estimate.Link</td>
            <td style="text-align: center;">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Read", "Estimates", new { id = estimate.Id })'">Открыть</button>
                <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Update", "Estimates", new { id = estimate.Id })'">Изменить</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Estimates", new { id = estimate.Id })'">Удалить</button>
            </td>
        </tr>
    }
</table>

<p style="margin-top: 15px;">
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Estimates")'">Добавить</button>
</p>
