@{
    ViewData["Title"] = "Read Estimate By Id Page";
}

@model Estimate

<h3 style="margin-bottom: 15px;">Данные сметы дорожных работ</h3>

<table border="1">
    <tr>
        <th>Название сметы</th>
        <th>@Model.Name</th>
    </tr>
    <tr>
        <td>Идентификационный номер дороги</td>
        <td>
            <button type="button" class="btn btn-link" onclick="openModal()">@Model.Road.Number</button>
        </td>
    </tr>
    <tr>
        <td>Уровень работ</td>
        <td>@Model.LevelOfWorks</td>
    </tr>
    <tr>
        <td>Стоимость сметы</td>
        <td>@Model.Cost</td>
    </tr>
    <tr>
        <td>Ссылка на смету</td>
        <td>@Model.Link</td>
    </tr>
</table>

<div style="display: flex; gap: 15px; margin-top: 15px;">
    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Update", "Estimates", new { id = @Model.Id })'">Изменить</button>

    <form asp-controller="Estimates" asp-action="Delete" asp-route-id="@Model.Id" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить эту смету?');">
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>

<div id="Road" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>

        <h3 style="margin-bottom: 15px;">Данные дороги</h3>

        <table border="1">
            <tr>
                <th>Идентификационный номер дороги</th>
                <th>@Model.Road.Number</th>
            </tr>
            <tr>
                <td>Приоритет дороги</td>
                <td>@Model.Road.Priority</td>
            </tr>
            <tr>
                <td>Ссылка на паспорт дороги</td>
                <td>@Model.Road.LinkToPassport</td>
            </tr>
        </table>
    </div>
</div>

<script>
    // Функция открытия модального окна
    function openModal() {
        document.getElementById('Road').style.display = 'block';
    }

    // Функция закрытия модального окна
    function closeModal() {
        document.getElementById('Road').style.display = 'none';
    }

    // Закрытие модального окна при клике вне его
    window.onclick = function (event) {
        var modal = document.getElementById('Road');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };
</script>

