@{
    ViewData["Title"] = "Read All Roads Page";
}

@model IEnumerable<Road>

<h2 style="margin-bottom: 15px;">Список дорог</h2>

<table border="1">
    <tr>
        <th>Идентификационный номер дороги</th>
        <th>Приоритет дороги</th>
        <th>Ссылка на паспорт дороги</th>
        <th>Операции</th>
    </tr>
    @foreach (var road in Model)
    {
        <tr>
            <td>@road.Number</td>
            <td>@road.Priority</td>
            <td>@road.LinkToPassport</td>
            <td style="text-align: center;">
                <div style="display: flex; gap: 15px;">
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Read", "Roads", new { id = road.Id })'">Открыть</button>
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Update", "Roads", new { id = road.Id })'">Изменить</button>
                    <form asp-controller="Roads" asp-action="Delete" asp-route-id="@road.Id" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить эту дорогу?');">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </td>
        </tr>
    }
</table>

<p style="margin-top: 15px;">
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Roads")'">Добавить</button>
</p>