@using Newtonsoft.Json
@{
    ViewData["Title"] = "Create Road Works Program Page";
}

@model RoadWorksProgramRoadsEstimatesViewModel

<h3 style="margin-bottom: 15px;">Добавить новую программу дорожных работ</h3>

<form asp-controller="RoadWorksPrograms" asp-action="Create" method="post">
    <table border="1">
        <tr>
            <td><label asp-for="RoadWorksProgram.RoadId">Идентификационный номер дороги</label></td>
            <td>
                <div class="select-wrapper">
                    <select asp-for="RoadWorksProgram.RoadId" class="form-control" style="overflow-y: auto;" onchange="updateEstimates()">
                        @foreach (var road in Model.Roads)
                        {
                            <option value="@road.Id">@road.Number</option>
                        }
                    </select>
                    <div class="arrow-down">&#9660;</div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label>Названия смет</label></td>
            <td>
                <div class="select-wrapper">
                    <select id="currentEstimates" class="form-control" style="overflow-y: auto;" multiple onchange="updateSelectedEstimates()">
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td><label asp-for="RoadWorksProgram.Year">Год</label></td>
            <td><input asp-for="RoadWorksProgram.Year" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="RoadWorksProgram.Month">Месяц</label></td>
            <td>
                <div class="select-wrapper">
                    <select asp-for="RoadWorksProgram.Month" class="form-control" style="overflow-y: auto;">
                        @foreach (var month in Model.Months)
                        {
                            <option value="@month">@month</option>
                        }
                    </select>
                    <div class="arrow-down">&#9660;</div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label asp-for="RoadWorksProgram.Cost">Стоимость программы</label></td>
            <td><input asp-for="RoadWorksProgram.Cost" class="form-control" /></td>
        </tr>
    </table>

    <input type="hidden" id="estimates" value='@JsonConvert.SerializeObject(Model.Estimates)' />
    <input type="hidden" id="selectedEstimatesId" name="selectedEstimatesId" />

    <div style="margin-top: 15px;">
        <button type="submit" class="btn btn-success" onclick="replacePoints()">Добавить</button>
    </div>
</form>

<script>
    function replacePoints() {
        var cost = document.getElementById("RoadWorksProgram_Cost");
        cost.value = cost.value.replace(/\./g, ',');
        document.getElementById("myForm").submit();
    }

    function updateEstimates() {
        var selectedRoadId = document.getElementById("RoadWorksProgram_RoadId").value;
        var allEstimates = JSON.parse(document.getElementById("estimates").value);
        var currentEstimates = document.getElementById("currentEstimates");

        currentEstimates.innerHTML = "";

        var estimates = allEstimates.filter(function (estimate) {
            return estimate.RoadId == selectedRoadId;
        });

        estimates.forEach(function (estimate) {
            var option = document.createElement("option");
            option.value = estimate.Id;
            option.text = estimate.Name;
            currentEstimates.appendChild(option);
        });
    }

    function updateSelectedEstimates() {
        var currentEstimates = document.getElementById("currentEstimates");
        var selectedEstimatesId = document.getElementById("selectedEstimatesId");
        var selectedEstimates = [];

        for (var i = 0; i < currentEstimates.options.length; i++) {
            if (currentEstimates.options[i].selected) {
                selectedEstimates.push(currentEstimates.options[i].value);
            }
        }

        selectedEstimatesId.value = selectedEstimates.join(' ');
    }

    window.onload = function () {
        updateEstimates();
    };
</script>
