@using Newtonsoft.Json
@{
    ViewData["Title"] = $"Read Road Works Program For {@Model.First().Year} Page";
}

@model IEnumerable<RoadWorksProgramEstimatesViewModel>

<h2>Программа дорожных работ для дороги (<button type="button" class="btn btn-link" onclick="openModal()"><h2>@Model.First().Road.Number</h2></button>) за @Model.First().Year год</h2>

<table border="1">
    <tr>
        <th>Месяц</th>
        <th>Названия смет</th>
        <th>Стоимость программы</th>
        <th>Операции</th>
    </tr>
    @foreach (var roadWorksProgram in Model)
    {
        <tr>
            <td>@roadWorksProgram.Month</td>
            <td>
                @foreach (var estimate in @roadWorksProgram.Estimates)
                {
                    @Html.ActionLink(estimate.Name, "Read", "Estimates", new { id = estimate.Id }, new { @class = "btn btn-link" })
                }
            </td>
            <td>@roadWorksProgram.Cost</td>
            <td style="text-align: center;">
                <div style="display: flex; gap: 15px;">
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Update", "RoadWorksPrograms", new { id = roadWorksProgram.Id })'">Изменить</button>
                    <form asp-controller="RoadWorksPrograms" asp-action="Delete" asp-route-id="@roadWorksProgram.Id" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить эту программу дорожных работ?');">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </td>
        </tr>
    }
</table>

<p style="margin-top: 15px;">
    <form asp-controller="RoadWorksPrograms" asp-action="Export" method="post">
        <input type="hidden" id="roadWorksPrograms" name="roadWorksPrograms" value='@JsonConvert.SerializeObject(Model)' />
        <button type="submit" class="btn btn-success">Экспортировать программу дорожных работ</button>
    </form>
</p>

<div id="Road" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>

        <h3 style="margin-bottom: 15px;">Данные дороги</h3>

        <table border="1">
            <tr>
                <th>Идентификационный номер дороги</th>
                <th>@Model.First().Road.Number</th>
            </tr>
            <tr>
                <td>Приоритет дороги</td>
                <td>@Model.First().Road.Priority</td>
            </tr>
            <tr>
                <td>Ссылка на паспорт дороги</td>
                <td>@Model.First().Road.LinkToPassport</td>
            </tr>
        </table>
    </div>
</div>

<script>
    // Функция открытия модального окна
    function openModal() {
        document.getElementById('Road').style.display = 'block';
    }

    // Функция закрытия модального окна
    function closeModal() {
        document.getElementById('Road').style.display = 'none';
    }

    // Закрытие модального окна при клике вне его
    window.onclick = function (event) {
        var modal = document.getElementById('Road');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };
</script>